@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.note-item {
    min-width: 100%;
    min-height: 100%;
    padding: 5rem;
    header {
        h1 {
            margin: 0;
        }
        .btn {
            min-width: 10rem;
            max-width: 100%;
            height: auto;
            padding-left: $spacer * 3;
            padding-right: $spacer * 3;
        }
        .close-note,.cancel-note,.delete-note {
            margin-left: $spacer;
        }
    }
}