@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#sidebar {
    min-width: 250px;
    max-width: 350px;
    height: 100vh;
    width: 30%;
    overflow-y: scroll;
    position: relative;

    #logo {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: $spacer;
            margin-bottom: $spacer;
            text-decoration: none;
            color: $dark;
        }
        img {
            width: 25px;
            height: 25px;
            margin-right: $spacer * .25;
        }
    }

    #note-list {
        .card {
            cursor: pointer;
            .note-title {
                display: flex;
                align-items: center;
                margin-bottom: 0;
                @include transition($transition-base);
                // justify-content: space-between;
                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: $font-size-lg;
                    font-weight: 600;
                    margin-right: $spacer;
                }
                .note-toggle {
                    margin-left: auto;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    outline: initial;
                    opacity: 0;
                    img {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            .note-toggle {
                border-radius: 50%;
                border: 1px solid $border-color;
                @include transition($transition-base);
            }
            .note-date {
                // color: $gray-600;
                // background-color: $light;
                font-family: monospace;
                @include transition($transition-base);
            }
            .note-preview {
                margin-top: 0;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                @include transition($transition-base);
                &.show {
                    // margin-top: $spacer;
                    max-height: 100px;
                    opacity: 1;
                }
            }

            &.active {
                color: white;
                background-color: $primary;
                border-color: $primary;
                .note-toggle {
                    opacity: 1;
                }
            }
            &:hover {
                .note-toggle {
                    opacity: 1;
                }
            }
        }
        margin-bottom: 70px;
    }

    #create-note {
        min-width: 250px;
        max-width: calc(350px - 14px);
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}